@model CoreAndMarket.Data.Models.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Category Add Page</h1>
<br />
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.Label("Category Name")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @style = "color:red" })
    <br />
    @Html.Label("Category Description")
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @style = "color:red" })
    <br />
    <button class="btn btn-info">Save</button>
}

